
{% include 'Includes/head.twig' %}

{% include 'Includes/header.twig' %}


{# Confirm create user - Modal #}
{% include 'Modals/createUser.twig' %}

<!--<h1>Manage users</h1>-->
<div class="topContent admin">
	<div class="ui search">
		<div class="ui icon input">
			<input type="prompt" type="text" placeholder="Search for user...">
			<i class="search icon"></i>
		</div>
		<div class="results"></div>
	</div>
</div>

<main class="admin">
	<button class="ui button primary create">Create a new user</button>

	<h2 class="ui dividing header">Admin</h2>

	<ul class="userList">
		{% for i in 0..(users|length - 1) %}
			{% if users[i]['groupe'] == "ADMIN" %}

				 <li class="ui card admin">
				  <div class="content">
				    <div class="header username">{{users[i]['username']}}</div>
				    {% if users[i]['ban'] == '1' %}
				    	<a class="ui red label">Ban</a>
				    {% endif %}
				  </div>
				  <div class="content">
				    <h4 class="ui sub header">Role : {{users[i]['groupe']}}</h4>
				    <div class="ui small feed">
				      <div class="event">
				        <div class="content">
				          <div class="email">
				             Email : <a href="#">{{users[i]['email']}}</a>
				          </div>
				        </div>
				      </div>
				      <div class="event">
				        <div class="content">
				          <div class="date">
				             Join the : {{users[i]['create_date'] | date("m/d/Y")}}
				          </div>
				        </div>
				      </div>
				      <div class="event">
				        <div class="content">
				          <div class="date">
				             Last edit the : {{users[i]['edit_date'] | date("m/d/Y")}}
				          </div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="extra content">
				    <button class="ui button edit">Edit</button>
					<button class="ui button delete"><a href="admin?delete_user={{users[i]['id']}}">Delete</a></button>
				  </div>
				  <form class="editUser ui form" method="POST" action="admin">
				  	<div class="fields input">
					  	<input type="text" name="modif_user[username]" class="field" value="{{users[i]['username']}}">
					  	<input type="text" name="modif_user[email]" value="{{users[i]['email']}}">
				  	</div>
				  	<div class="fields drop">
					  <div class="field">

						  <div class="ui selection dropdown">
						      <input type="hidden" name="modif_user[groupe]">
						      <i class="dropdown icon"></i>
						      <div class="default text">Groupe</div>
						      <div class="menu">
						          <div class="item" data-value="ADMIN">Admin</div>
						          <div class="item" data-value="WRITER">Writer</div>
						          <div class="item" data-value="USER">User</div>
						      </div>
						  </div>
						</div>
					  	<div class="field">
						  <div class="ui selection dropdown">
						      <input type="hidden" name="modif_user[ban]">
						      <i class="dropdown icon"></i>
						      <div class="default text">Status</div>
						      <div class="menu">
						          <div class="item" data-value="0">Allowed</div>
						          <div class="item" data-value="1">Banished</div>
						      </div>
						  </div>
				  		</div>
					</div>

				  	<div class="extra content">
					    <button class="ui button cancel">Cancel</button>
						<input class=" ui button primary" type="submit" value="Save"></button>
					</div>
				  </form>
				</li>

			{% endif %}
		{% endfor %}
	</ul>

	<h2 class="ui dividing header">Writer</h2>
	<ul class="userList">
		{% for i in 0..(users|length - 1) %}
			{% if users[i]['groupe'] == "WRITER" %}
				<li class="ui card writter">
					  <div class="content">
					    <div class="header username">{{users[i]['username']}}</div>
					    {% if users[i]['ban'] == '1' %}
					    	<a class="ui red label">Ban</a>
					    {% endif %}
					  </div>
					  <div class="content">
					    <h4 class="ui sub header">Role : {{users[i]['groupe']}}</h4>
					    <div class="ui small feed">
					      <div class="event">
					        <div class="content">
					          <div class="email">
					             Email : <a href="#">{{users[i]['email']}}</a>
					          </div>
					        </div>
					      </div>
					      <div class="event">
					        <div class="content">
					          <div class="date">
					             Join the : {{users[i]['create_date'] | date("m/d/Y")}}
					          </div>
					        </div>
					      </div>
					      <div class="event">
					        <div class="content">
					          <div class="date">
					             Last edit the : {{users[i]['edit_date'] | date("m/d/Y")}}
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="extra content">
					    <button class="ui button edit">Edit</p>
						<button class="ui button delete"><a href="admin?delete_user={{users[i]['id']}}">Delete</a></p>
					  </div>
					  <form class="editUser ui form" method="POST" action="admin">
					  	<div class="fields input">
						  	<input type="text" name="modif_user[username]" class="field" value="{{users[i]['username']}}">
						  	<input type="text" name="modif_user[email]" value="{{users[i]['email']}}">
					  	</div>
					  	<div class="fields drop">
						  <div class="field">

							  <div class="ui selection dropdown">
							      <input type="hidden" name="modif_user[groupe]">
							      <i class="dropdown icon"></i>
							      <div class="default text">Groupe</div>
							      <div class="menu">
							          <div class="item" data-value="ADMIN">Admin</div>
							          <div class="item" data-value="WRITER">Writer</div>
							          <div class="item" data-value="USER">User</div>
							      </div>
							  </div>
							</div>
						  	<div class="field">
							  <div class="ui selection dropdown">
							      <input type="hidden" name="modif_user[ban]">
							      <i class="dropdown icon"></i>
							      <div class="default text">Status</div>
							      <div class="menu">
							          <div class="item" data-value="0">Allowed</div>
							          <div class="item" data-value="1">Banished</div>
							      </div>
							  </div>
					  		</div>
						</div>

					  	<div class="extra content">
						    <button class="ui button cancel">Cancel</button>
							<input class=" ui button primary" type="submit" value="Save"></button>
						</div>
					  </form>
					</li>
			{% endif %}
		{% endfor %}
	</ul>

	<h2 class="ui dividing header">User</h2>
	<ul class="userList">
		{% for i in 0..(users|length - 1) %}
			{% if users[i]['groupe'] == "USER" %}
				<li class="ui card user">
					  <div class="content">
					    <div class="header username">{{users[i]['username']}}</div>
					    {% if users[i]['ban'] == '1' %}
				    		<a class="ui red label">Ban</a>
				    	{% endif %}
					  </div>
					  <div class="content">
					    <h4 class="ui sub header">Role : {{users[i]['groupe']}}</h4>
					    <div class="ui small feed">
					      <div class="event">
					        <div class="content">
					          <div class="email">
					             Email : <a href="#">{{users[i]['email']}}</a>
					          </div>
					        </div>
					      </div>
					      <div class="event">
					        <div class="content">
					          <div class="date">
					             Join the : {{users[i]['create_date'] | date("m/d/Y")}}
					          </div>
					        </div>
					      </div>
					      <div class="event">
					        <div class="content">
					          <div class="date">
					             Last edit the : {{users[i]['edit_date'] | date("m/d/Y")}}
					          </div>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="extra content">
					    <button class="ui button edit">Edit</p>
						<button class="ui button delete"><a href="admin?delete_user={{users[i]['id']}}">Delete</a></p>
					  </div>
					  <form class="editUser ui form" method="POST" action="admin">
					  	<div class="fields input">
						  	<input type="text" name="modif_user[username]" class="field" value="{{users[i]['username']}}">
						  	<input type="text" name="modif_user[email]" value="{{users[i]['email']}}">
					  	</div>
					  	<div class="fields drop">
						  <div class="field">

							  <div class="ui selection dropdown">
							      <input type="hidden" name="modif_user[groupe]">
							      <i class="dropdown icon"></i>
							      <div class="default text">Groupe</div>
							      <div class="menu">
							          <div class="item" data-value="ADMIN">Admin</div>
							          <div class="item" data-value="WRITER">Writer</div>
							          <div class="item" data-value="USER">User</div>
							      </div>
							  </div>
							</div>
						  	<div class="field">
							  <div class="ui selection dropdown">
							      <input type="hidden" name="modif_user[ban]">
							      <i class="dropdown icon"></i>
							      <div class="default text">Status</div>
							      <div class="menu">
							          <div class="item" data-value="0">Allowed</div>
							          <div class="item" data-value="1">Banished</div>
							      </div>
							  </div>
					  		</div>
						</div>

					  	<div class="extra content">
						    <button class="ui button cancel">Cancel</button>
							<input class=" ui button primary" type="submit" value="Save"></button>
						</div>
					  </form>
					</li>
			{% endif %}

		{% endfor %}
	</ul>

</main>

{% include 'Includes/footer.twig' %}
