
{% include 'Includes/head.twig' %}
{% include 'Includes/header.twig' %}

<div class="imgContainer">
	<img class="fullImage"  src="{{path}}/{{article[0]['url_img']}}">
</div>
<div class="ui main text container">
	<div class="main-content">
		<div>
		    <h1 class="ui header">{{article[0]['title']}}</h1>
		    <p class="author">Written by <span><a>{{article[i]['username']}}</a> the <a>{{article[0]['create_date'] | date("m/d/Y")}}</a></span></p>
		    <p class="editDate">Last edit the : {{article[0]['edit_date'] | date("m/d/Y")}}</p>
			<div class="ui divider"></div>
			<div class="flexContainer tags">
			    <div class="ui label category {{article[0]['cat']}}">{{article[0]['cat']}}</div>
			    {% if article[0]['tags']|length > 0 %}
				<div class="tagsContainer">
					{% for j in 0..(article[0]['tags']|length - 1) %}
						<span class="tag ui label">{{article[0]['tags']['name']}}</span>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		    <p class="content">{{article[0]['content']}}</p>
		</div>
		<div class="ui divider"></div>
		<div>
			<p><span>{{article['nb_comment'] == null ? 0 : article['nb_comment']}} </span>Comments</p>
		</div>
	</div>
</div>


{% include 'Includes/footer.twig' %}
