{% include 'Includes/head.twig' %}

{% include 'Includes/header.twig' %}

<div class="homeArticle">

	{% for i in 0..(articles|length - 1) %}

	<article>

		<div class="ui raised very padded text container segment">
			<div>
				<img src="{{articles[i]['url_img']}}">
			</div>
			<div class="main-content">
				<div>
				    <h2 class="ui header">{{articles[i]['title']}}</h2>
				    <p class="author">Written by <span><a>{{articles[i]['username']}}</a> the <a>{{articles[i]['create_date'] | date("m/d/Y")}}</a></span></p>
				    <p class="editDate">Last edit the : {{articles[i]['edit_date'] | date("m/d/Y")}}</p>
					<div class="ui divider"></div>
				    <div class="ui label category {{articles[i]['cat']}}">{{articles[i]['cat']}}</div>
					<div>
						<p>Tag1</p>
						<p>Tag2</p>
						<p>Tag3</p>
					</div>
				    <p class="content">{{articles[i]['content']}}</p>
				</div>
				<div class="ui divider"></div>
				<div>
					<p><span>{{articles['nb_comment'] == null ? 0 : articles['nb_comment']}} </span>Comments</p>
				</div>
			</div>
		 </div>
	</article>

	{% endfor %}

</div>

{% include 'Includes/footer.twig' %}
