<!DOCTYPE html>
<html>
	<head>
		<title>HomePage</title>

		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>
		<style type="text/css">
			  body {
			    background-color: #FFFFFF;
			  }
			  .ui.menu .item img.logo {
			    margin-right: 1.5em;
			  }
			  .main.container {
			    margin-top: 7em;
			  }
			  .wireframe {
			    margin-top: 2em;
			  }
			  .ui.footer.segment {
			    margin: 5em 0em 0em;
			    padding: 5em 0em;
			  }
			  article
			  {
			  	margin-top:100px;
			  }
  		</style>
	</head>

	<body>


		{% include 'Includes/header.html' %}

		<article>
		
			<div class="ui raised very padded text container segment">
				<div>
					<img src="{{articles[0]['img']}}">
				</div>
				<div>
				    <h2 class="ui header">{{articles[0]['title']}}</h2>
				    <p><span>{{articles[0]['username']}}</span> | <span>{{articles[0]['create_date']}}</span> | <span>{{articles[0]['edit_date']}}</span></p>
				    <h3>{{articles[0]['cat']}}</h3>
				    <p>{{articles[0]['content']}}</p>
				</div>
				<div>
					<div>
						<p>Tag1</p>
						<p>Tag2</p>
						<p>Tag3</p>
					</div>
					<p><span>{{articles['nb_comment']}} </span>Comments</p>
				</div>
			 </div>
		</article>


	</body>

</html>
