
{% include 'Includes/head.twig' %}

{% include 'Includes/header.twig' %}

{# Confirm delete user - Modal #}
{% include 'Modals/confirmDelArticle.twig' %}

<div class="topContent writer">
	<div class="ui search">
		<div class="ui icon input">
			<input type="prompt" type="text" placeholder="Search for articles...">
			<i class="search icon"></i>
		</div>
		<div class="results"></div>
	</div>
</div>

<main class="writer">
	<button class="ui button primary create"><a href="{{path}}/writer/create">Create a new article</a></button>

	{% for i in 0..(articles|length - 1) %}

	<div class="ui divided items">
		<div class="item">
			<div class="image">
				<img src="{{articles[i]['url_img']}}">
			</div>
			<div class="content">
				<a class="article-title header">{{articles[i]['title']}}</a>
				<div class="meta">
					<span class="author">Writer : {{articles[i]['username']}}</span>
				</div>
				<div class="meta">
					<span class="author">Create the : {{articles[i]['create_date'] | date("m/d/Y")}}</span><br>
				</div>

				 <div class="meta {{(articles[i]['edit_date']) !=  (articles[i]['create_date']) ? "visible" : "hidden"}}">

					<span class="author">Last edit the : {{articles[i]['edit_date'] | date("m/d/Y")}}</span><br>
				</div>


				<form class="extra" method="POST" action="writer">
					<div class="ui right floated primary button">

			        	<input type="hidden" value="{{articles[i]['id']}}" name="modif_article">
			          <input type="submit" value="Edit" name="submit">

						<i class="right chevron icon"></i>
			        </div>
			        <div class="ui right floated white button deleteArticle">
			          Delete
						<i class="right chevron icon"></i>
			        </div>
					<div class="ui label category {{articles[i]['cat']}}">{{articles[i]['cat']}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="comments">
		<p>
			<span>{{articles['nb_comment'] == null ? 0 : articles['nb_comment']}} </span>{{articles['nb_comment'] > 1 ? "Comments" : "Comment"}}</p>

	</div>

	{% endfor %}

</main>

{% include 'Includes/footer.twig' %}
