
{% include 'Includes/head.twig' %}

{% include 'Includes/header.twig' %}

<div class="topContent writer">
	<div class="ui search">
		<div class="ui icon input">
			<input type="prompt" type="text" placeholder="Search for articles...">
			<i class="search icon"></i>
		</div>
		<div class="results"></div>
	</div>
</div>

<main class="writer">
	<button class="ui button primary create">Create a new article</button>

	<ul class="userList">
		{% for i in 0..(articles|length - 1) %}

			<article>

		<div class="ui raised very padded text container segment">
			<div>
				<img src="{{articles[i]['url_img']}}">
			</div>
			<div>
			    <h2 class="ui header">{{articles[i]['title']}}</h2>
			    <p><span>{{articles[i]['username']}}</span> | <span>{{articles[i]['create_date']}}</span> | <span>{{articles[i]['edit_date']}}</span></p>
			    <h3>{{articles[i]['cat']}}</h3>
			    <p>{{articles[i]['content']}}</p>
			</div>
			<div>
				<div>
					<p>Tag1</p>
					<p>Tag2</p>
					<p>Tag3</p>
				</div>
				<p><span>{{articles['nb_comment'] == null ? 0 : articles['nb_comment']}} </span>Comments</p>
			</div>
		 </div>
	</article>

		{% endfor %}
	</ul>

</main>

{% include 'Includes/footer.twig' %}

